@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

/*header*/
.header {
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header__input::-webkit-input-placeholder {
  color: #ffffff;
}

.header__input:-ms-input-placeholder {
  color: #ffffff;
}

.header__input::-ms-input-placeholder {
  color: #ffffff;
}

.header__input::placeholder {
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.menu-mobile {
  display: none;
}

.menu_links:hover {
  border-bottom: 1px solid black;
}

.menu_links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.cat-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.catalog_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

.catalog_link:hover {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(../img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
}

.title_text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 16px;
}

/*мебель для*/
.for-box {
  padding-top: 64px;
}

.for {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.for_item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.for_item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 5px #C4C4C4;
          box-shadow: 0 0 5px #C4C4C4;
}

.for_item_big {
  grid-column: span 6;
}

.for_item:nth-of-type(1) {
  background-image: url(../img/for1.jpg);
}

.for_item:nth-of-type(2) {
  background-image: url(../img/for2.jpg);
}

.for_item:nth-of-type(3) {
  background-image: url(../img/for3.jpg);
}

.for_item:nth-of-type(4) {
  background-image: url(../img/for4.jpg);
}

.for_item:nth-of-type(5) {
  background-image: url(../img/for5.jpg);
}

/*спец предложения*/
.product_img {
  width: 100%;
}

.product-box {
  padding-top: 64px;
  margin-bottom: 13px;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 32px;
}

.product-content {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

.product_name {
  margin-top: 10px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.product_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  margin-bottom: 12px;
}

.product_box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.product_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product_price_sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
  color: #888;
}

/*каталог товаров*/
.product-box2 {
  margin-bottom: 4px;
}

.product-content-catalog {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-content-catalog_mobile {
  display: none;
}

/*Перейти в каталог*/
.link_box {
  margin-top: 39px;
  margin-bottom: 67px;
}

.catalog_link2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.catalog_link2:hover {
  color: #888;
}

/*footer*/
.footer {
  padding-top: 32px;
  padding-bottom: 40px;
  background-color: #F7F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo_footer {
  margin-top: 20px;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_content {
  width: 792px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 129px;
}

.links {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 123px;
  height: 17px;
  color: #888;
  text-decoration: none;
}

.social__media:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.links:hover {
  color: #000;
}

.footer_item {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer--links--item path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer--links--item:hover path {
  fill: #000000;
}

.footer_text {
  margin-bottom: 4px;
}

.footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  position: relative;
}

.footer_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  color: #000000;
}

.email {
  width: 275px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.email::-webkit-input-placeholder {
  color: #C4C4C4;
}

.email:-ms-input-placeholder {
  color: #C4C4C4;
}

.email::-ms-input-placeholder {
  color: #C4C4C4;
}

.email::placeholder {
  color: #C4C4C4;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.follow {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: slide-right 1.5s linear infinite alternate both;
          animation: slide-right 1.5s linear infinite alternate both;
}

/*Каталог header*/
.top__catalog {
  height: 400px;
  background-image: url(../img/catalog/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*navigation*/
.catalog_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
}

.catalog_text:hover {
  border-bottom: 1px solid #888;
}

.catalog_text_span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
}

.catalog_navination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
  margin-top: 64px;
}

.catalog__input {
  width: 288px;
  height: 41px;
  border: 1px solid #494949;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  padding-left: 14px;
  padding-right: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.order_cection_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.arrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/catalog/arrow.svg) no-repeat right;
  background-position-x: calc(100% - 22px);
}

.show_more {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  text-decoration: none;
  margin-bottom: 64px;
  margin-top: 32px;
}

.footer_showmore {
  margin-bottom: 64px;
  margin-top: 32px;
}

button:hover {
  color: white;
  background-color: #000000;
}

.top-cart {
  height: 400px;
  background-image: url(../img/cart/foon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart_name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
}

.cart_item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart img {
  width: 173px;
}

.cart_left {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cart_info {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}

.cart_form {
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
}

.cart_content {
  grid-column: span 8;
}

.cart_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  gap: 30px;
  text-decoration: none;
}

.cart .input_number {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
}

button {
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.button_main {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  color: white;
  background-color: #000000;
}

.cart_form_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
  margin-bottom: 35px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart_form_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart_form_data_name {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 288px;
  background: #F7F6F6;
  margin-bottom: 61px;
}

.cart_form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cart_form .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_form .total_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 18px;
}

.cart_form .total__button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart_form_link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.cart_form_link_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.total__button {
  -webkit-animation: slide-right 1.5s linear infinite alternate both;
          animation: slide-right 1.5s linear infinite alternate both;
}

.cart_link_text {
  color: #000000;
  text-decoration: none;
}

.cart_link_text:hover {
  border-bottom: 1px solid #888;
}

@media (max-width: 1024px) {
  /*главная*/
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for_item {
    height: 268px;
  }
  .product-content {
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 39px;
  }
  .logo_footer {
    display: none;
  }
  .product-content-catalog {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 39px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /*Каталог*/
  /*Корзина*/
  .cart {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 32px;
    margin-top: 64px;
  }
  .cart_link_text {
    color: black;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .logo_img {
    width: 99px;
  }
  .top_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .title_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .catalog_link {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for_item {
    grid-column: 1 / -1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for_item _big {
    height: 244px;
  }
  .product_img {
    width: 342px;
    height: 226px;
  }
  .product_name {
    font-size: 18px;
    line-height: 22px;
  }
  .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .product_price_sale {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_showmore {
    margin-bottom: 32px;
    margin-top: 37px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 34px;
  }
  .footer_info {
    gap: 100px;
  }
  /*КАТАЛОГ*/
  .catalog_navination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 16px;
  }
  .catalog_text {
    font-size: 14px;
    line-height: 32px;
  }
  .product-content-catalog_mobile {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 32px;
            column-gap: 32px;
    row-gap: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heading_mobile {
    font-size: 24px;
    line-height: 29px;
    margin-top: 31px;
  }
  /*Корзина*/
  .product_name {
    font-size: 18px;
    line-height: 22px;
  }
  .product_text {
    font-size: 12px;
    line-height: 15px;
  }
  .product_price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart_img {
    display: none;
  }
  .button {
    gap: 14px;
  }
  .button_mob {
    width: 166px;
    height: 37px;
  }
  .cart_content {
    grid-column: span 8;
  }
  .cart_form {
    grid-column: span 8;
  }
  .product_cart_mobile {
    width: 343px;
    height: 226px;
  }
  .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .cart_link_text {
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */